#servicos {
    @include background-pattern;
    border-radius: 0 150px 0 150px;
    max-width: 80%;
    margin: auto;
    height: 30rem;
    @include shadow;
    padding-top: 0.2rem;
    // @include border;
    h2 {
        font-size: 2rem;
        text-align: center;
        font-family: $font_h2title;
    }
}

.servicos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: $color_white;

    article {
        background-color: $color_blue;
        border-radius: 0 50px 0 50px;
        width: 19rem;
        padding: 0rem 2rem 1rem;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.856);
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            transform: translateY(-6px) translateX(3px);
        }
    }

    .yellow-dots {
        display: grid;
        grid-template-columns: repeat(3, 6px);
        gap: 4px;
        position: absolute;
    }

    .yellow-dots span {
        width: 6px;
        height: 6px;
        background-color: $color_yellow;
        border-radius: 50%;
    }

    .invisible {
        visibility: hidden;
    }

    .top-right {
        top: 20px;
        right: 30px;
    }
}
