footer {
    .footer-main {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-left {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30rem;
    }

    nav {
        ul {
            list-style: none;
        }

        h3 {
            color: $color_white;
        }
    }

    .footer-right {
        color: $color_white;
        width: 30rem;
    }

    .logo-footer {
        width: 7rem;
    }

    .social-logos {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            fill: $color_white;
            width: 3rem;
            height: 3rem;
        }

        .insta-logo {
            width: 2.6rem;
            height: 2.6rem;
        }
    }

    .social-link:hover svg {
        fill: $color_black;
    }
    

    .site-info {
        font-size: 0.6rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, $color_black 50%, $color_blue 50%);
        color: $color_white;
        padding: 0 3rem;

        a {
            color: $color_white;
        }

        a:hover {
            color: $color_blue;
        }
    }

    .site-info>*:not(:last-child) {
        margin-right: auto;
    }

}